@import '../Variables/variables.scss';

.home-section{
    margin-block: 2rem;
    
}

section {
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    scroll-snap-align: start;
}



//  begining of welcome section 
.hero-wrapper {
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.main-text {
    font-size: 2.5rem;
    position: relative;
    font-family: $hero;
}
.main-text::before, 
.main-text::after, 
.sub-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-text::before{
    display: block;
    background: white;
    animation: typing 6s steps(23) forwards 1s; 
}

.main-text::after {
    background: black;
    opacity: 0;
    width: 0.125em;
    animation: typing 6s steps(23) forwards 1s,
    blink 750ms steps(23) infinite; 
    
}

@keyframes typing {
    to{
        left: 100%;
    }
}

@keyframes blink {
    100%{
        opacity: 1;
    }
}

.sub-text {
    font-family: $title;
    font-size: 1.5rem;
    opacity: 0;
    color: black;

    transform:  translateY(3rem);
    animation: appear 2s ease forwards 7s;  
    }

@keyframes appear {
    to {
        opacity: 1;
        transform:  translateY(0rem);
    }
}


// begining of story section 

// begining of works section 

// begining of resume section 

// begining of contact section 
