@import'../Variables/variables.scss';

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    // border-bottom: 5px solid black;
}

.nav-logo {
    font-family: Helvetica;
    font-weight: 100;
    grid-column: 2/3;
    font-size: 5rem;
    margin-top: 2.5rem;
    margin-bottom: 0%;
    a:-webkit-any-link 
        {
            color: black;
            cursor: pointer;
            text-decoration: none;
        }
}

.nav-links {
    display: flex;
    gap: 3rem;
}

.link {
    font-family: $title;
    list-style: none;
    font-size: 1.25rem;
    a:-webkit-any-link 
        {
            color: black;
            cursor: pointer;
            text-decoration: none;
        }
}